@using BookingApp.Shared.Models

<div class="container">
    <div class="row mx-0 gap-lg-0 gap-3">
        <div class="col-lg-4 d-flex justify-content-lg-start justify-content-center">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="col-lg-4 d-flex justify-content-lg-center  flex-column mx-auto">
            <div class="mx-auto">
                <a href="#" class="text-decoration-none text-white d-block ">
                    Contact Us
                </a>
            </div>
            <div class="mx-auto">
                <a href="#" class="text-decoration-none text-white d-block mt-3 ">
                    <i class="fa-solid fa-envelope me-2 text-white"></i>@OperatorContext.CompanyEmail
                </a>
            </div>
            <div class="mx-auto">
                <a href="#" class="text-decoration-none text-white d-block mt-3 ">
                    <i class="fa-solid fa-phone me-2 text-white"></i> + 1 (425) 555 - 26 - 71
                </a>
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="d-flex flex-wrap justify-content-center justify-content-start gap-4">
                <a href="#" class="text-decoration-none text-white">
                    My Account
                </a>
                <a href="#" class="text-decoration-none text-white">
                    My Trips
                </a>
                <a href="#" class="text-decoration-none text-white">
                    Trip Dashboard
                </a>
                <a href="#" class="text-decoration-none text-white">
                    New Trip
                </a>
            </div>
        </div>
    </div>
    <div class="row mx-0 mt-5 align-items-start gap-lg-0 gap-3">
        <div class="col-lg-4 text-white-50">
            Copyright 2022, ABC Limo Company, LLC. All rights reserved.
        </div>
        <div class="col-lg-4 d-flex justify-content-lg-center justify-content-center">

            <a href="#" class="text-decoration-none text-white d-block ">
                <i class="fa-solid fa-phone me-2 text-white"></i> + 1 (425) 555 - 26 - 71
            </a>
        </div>
        <div class="col-lg-4">
            <div class="d-flex justify-content-lg-end justify-content-center gap-3">
                <i class="fa-brands fa-facebook text-white"></i>
                <i class="fa-brands fa-linkedin text-white"></i>
                <i class="fa-brands fa-twitter text-white"></i>
                <i class="fa-brands fa-linkedin text-white"></i>
            </div>
        </div>
    </div>
</div>


@code {
    [CascadingParameter] public OperatorContext OperatorContext { get; set; }
}
