<div class="progress_bar">
    <div class="row mx-0 gap-lg-0 gap-5">
        <div class="col-lg-8 ps-lg-0">
            <img src="assets/img/Progressbar.png" alt="" class="img-fluid">
        </div>
        <div class="col-lg-4 pe-lg-0">
            <div
                class="d-flex justify-content-lg-end justify-content-center gap-5 align-items-center mb-0 flex-wrap">
                <div>
                    <p class="mb-0 text__primary d-flex align-items-center gap-3 fw-bold">
                        <span><img src="assets/img/reset.svg" alt=""></span>
                        <span> Restart</span>
                    </p>
                </div>
                <div class="btn__next bg__primary d-flex gap-3">
                    <span class="fs-5">
                        Next
                    </span>
                    <span>
                        <img src="assets/img/arrow.svg" alt="">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>