<div class="bg__white w-100 px-5 py-4 pb-0 banner__card">
    <div class="d-flex gap-3 flex-wrap align-items-lg-start align-items-center">
        <div class="bg__secondary d-flex align-items-center gap-2  flex-wrap p-2 secondary__car__card">
            <div class="mx-lg-0 mx-auto">
                <img src="assets/img/car_img.png" alt="" class="img-fluid mx-lg-0 mx-auto">

            </div>
            <div>
                <p class="fw-600">Mercedes Benz GLE 250</p>
                <div class="d-flex gap-3 justify-content-lg-start justify-content-center">
                    <div class="d-flex gap-2 align-items-center fw-600">
                        <img src="assets/img/suitcase.svg" alt="">
                        x 3

                    </div>
                    <div class="d-flex gap-2 align-items-center fw-600">
                        <img src="assets/img/user.svg" alt="">
                        + 3
                    </div>
                </div>
            </div>

        </div>
        <div>
            <div class="row mx-0">
                <div class="col-lg-4">
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <img src="assets/img/calendar.svg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-500 white__space">1 January 2022</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <img src="assets/img/clock.svg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-500 white__space">12:00 PM</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <img src="assets/img/clockcontrast.svg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-500 white__space">3 h 15 mins</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 ps-lg-5">
                    <div class="d-flex flex-column gap-2">
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <img src="assets/img/marker_white.svg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-600 white__space">PBI - Palm Beach International Airport</p>
                            </div>
                        </div>
                        <div class="d-flex gap-1 align-items-center">
                            <div class="d-flex gap-4 ps-lg-1">
                                <img src="assets/img/line.svg" alt="">
                                <img src="assets/img/location_marker.svg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-600 white__space">+ 3 additional Stops</p>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-items-center">
                            <div>
                                <img src="assets/img/marker_black.svg" alt="">
                            </div>
                            <div>
                                <p class="mb-0 fw-600 white__space">99999 Smithsonian Street Apt b, West Palm
                                    Beach, FL 33333</p>
                            </div>
                        </div>
                    </div>

                </div>
                <hr class="w-100 mt-1 bg__primary">
            </div>
        </div>

    </div>
    <div class="d-flex justify-content-lg-end justify-content-center mt-0">
        <div>
            <p class="text__primary"><span class="fw-bold fs-6">Price Total:</span> <span class="fs-5 fw-bold">$
                    79</span></p>
        </div>
    </div>
</div>